{% extends 'base/base.html'%}
{% block title%}
  confirm booking /Payment Section
{% endblock %}

{% block content %}
            <section class="pt-3">
                <!-- top section -->
                <section class="container-fluid bg-light pt-2  my-5" >
                    <h2 class="text-center ">Payment Section</h2>
                    <div class="text-danger ">
                        <h4><span class="text-danger">
                            <strong>NOTE:
                                <div class="spinner-grow text-danger spinner-grow-sm"></div>
                                <div class="spinner-grow text-danger spinner-grow-sm"></div>
                                <div class="spinner-grow text-danger spinner-grow-sm"></div>
                                <div class="spinner-grow text-danger spinner-grow-sm"></div>
                            </strong><br>Review your order before payment.
                        </h4>
                        <a class="text-center" href="/selected_rooms/" style="text-decoration: none;">
                            <button class="btn text-center btn-success my-4">MyOrders</button>
                        </a>
                    </div>
                </section>
                <!-- end of top section -->

                <!-- section two -->
            
                <!-- <section class="container-fluid bg-danger"> -->
                    <!-- <div class="bg-light p-4  mb-4"> -->
                        <!-- <div class="container "> -->
                            <!-- selected rooms cards -->
                            <div class="row  my-4 p-4">
                                <h3 class="text-center">
                                    <span class="material-symbols-outlined">
                                        bed
                                    </span>Selected Rooms
                                </h3>
                                <hr/>
                                {% for r in booking.room.all %}
                                <div class="col-lg-6 col-sm-12 col-md-6 card-deck ">
                                  <div class="card">
                                    <div class="card-body">
                                      <h5 class="card-title">RoomType :{{r.room_type.room_type}}</h5>
                                      <h5 class="card-title">Room Number : {{r.room_number}}</h5>
                                      <p class="card-text"><strong>Beds:</strong>{{r.room_type.number_of_beds}}</p>
                                      <p class="card-text text-muted">Price: <span class="text-center">{{r.room_type.price}}$  /Night</span></p>
                                      
                                    </div>
                                  </div>
                                </div>
                                {% endfor %}
                                       
                            </div>

                            <!-- end of selected rooms card -->
                        <!-- </div> -->
                    <!-- </div> -->


                    <!-- Customer Details Section-->
                   
                    <div class="row ">
                        <div class="col-md-6 col-lg-6 col-sm-12  ">
                            <div class="col-md-12 col-lg-12  ">
                                <div class="container">
                                    <div class="col">
                                        <div class="row">
                                            <img  class="card-img" src={{booking.hotel.image.url}} alt="hotelphoto" rounded style="width:34.3rem; height:50%;" />
                                            <h3 class="text-center">{{booking.hotel.name}}</h3>
                                            <hr/>
                                            <span><i class="fa fa-map-maker"></i>Address: {{booking.hotel.address}}</span><br>
                                            <span><i class="fa fa-phone"></i>Contact: {{booking.hotel.mobile}}</span>
                                        </div>
                                        <div class="row bg-light p-3 mt-4">
                                            <div id="carouselExampleIndicators" class="carousel slide">
                                                <div class="carousel-indicators">
                                                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                                                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                                                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                                                </div>
                                                <div class="carousel-inner">
                                                {% for hotelimage in hotel.hotel_gallery.all %}
                                                    
                                                <div class="carousel-item  {% if forloop.first %} active {% endif %}">
                                                    <img src="{{hotelimage.image.url}}" class="d-block w-100 h-70" alt="">
                                                </div>
                                                {% endfor %}
                                                </div>
                                                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                                                <span class="carousel-control-prev-icon" aria-hidden=""></span>
                                                <span class="visually-hidden">Previous</span>
                                                </button>
                                                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                                                <span class="carousel-control-next-icon" aria-hidden=""></span>
                                                <span class="visually-hidden">Next</span>
                                                </button>
                                            </div>
                                        </div>

                                        <!-- this part will have the view and the like butto in future -->
                                            <div class="utf-rating-section" data-rating="4.5">
                                                <div class="utf-counter-star-rating"></div>
                                            </div>
                                        <!--  -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6  col-sm-12 bg-light">
                            <div class="row">
                                <div class="card">
                                    <h3 class="text-center">Customer Details</h3>
                                    <div class="row">
                                      <div class="col-lg-12">
                                        <label for="full_name" class="form-label">Full Name:</label>
                                        <input type="text" class="form-control" id="full_name" name="email" value="{{booking.full_name}}" readonly>
                                      </div>
                                    </div>
                                    <div class="row">
                                      <div class="col-lg-6 col-md-6 col-sm-12">
                                        <label for="email" class="form-label">Email:</label>
                                        <input type="email" class="form-control" id="email" name="email" value="{{booking.email}}" readonly>
                                      </div>
                                      <div class="col-lg-6 col-md-6 col-sm-12">
                                        <label for="phone" class="form-label">Phone:</label>
                                        <input type="text" class="form-control" id="phone" name="phone" value="{{booking.phone}}" readonly>
                                      </div>
                                    </div>
                                </div>
                                
                                <hr/>
                                <div class="row">
                                    <h3 class="text-center">Booking Summery</h3>
                                    <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                          <th>Check in Date</th>
                                          <th>Check Out Date</th>
                                          <th>Total Days</th>
                                          <th>Adults</th>
                                          <th>Children</th>
                                          <th>Saved</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                        <tr>
                                          <td><span> {{booking.check_in_date}}</span></td>
                                          <td><span>{{booking.check_out_date}}</span></td>
                                          <td class="text-center"><span  > {{booking.total_days}}</span></td>
                                          <td><span> {{booking.number_adults}}</span></td>
                                          <td>{{booking.num_children}}</td>
                                          <td><span> {{booking.saved}}$</span></td>
                                        </tr>
                                      </tbody>
                                    </table>
                                    <div class="col-12 text-center mb-3 row">
                                        <span><b>Total Cost: {{booking.payable}}$</b></span>
                                    </div>
                                        <!-- payment -->
                                        <!-- <div class=""> -->
                                            <!-- <div class="row"> -->
                                                <form class="form-control bg-success p-3" method="POST" action="">
                                                    <p class="text-center text-light">Have Coupon!!</p><hr/>
                                                    {% csrf_token %}
                                                        <input
                                                        class="form-group col-12"

                                                            id="couponCode"
                                                            name="code"
                                                            placeholder="coupon code "
                                                            type="text"
                                                        /><br>
                                                        <input type="submit" class="coupon_code  col-12 btn btn-outline-light mt-2" value="Apply"/>  
                                                </form>
                                                <div class="row ">
                                                    <h3 class="text-center">Continue to pay</h3><hr/>
                                                    <div id="paypal-button-container"></div>
                                                </div>
                                            </div>
                                        <!-- </div> -->

                                        <!-- endof payment -->
                                        
                                    
                                
                            </div>
                        </div>
                        
                    </div>


                    <!-- end of customer section -->

                    
            </section>
                
           
            <!-- <script src="https://www.paypal.com/sdk/js?client-id=test&currency=USD"></script> -->
            <script src="https://www.paypal.com/sdk/js?client-id=AWL2Bo96B-xp99LGPxp6lRJx1LnfChoCXet5tV5WM9Wu6Jn0jL_wnJI9hK68wf6dleh8A25eLKQwylyH&currency=USD"></script>
            <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
            <script>

                let booking_total = "{{booking.payable}}";
                let booking_id = "{{booking.bookingid}}";
                let success_id = "{{booking.success_id}}";

                paypal.Buttons({
                    style:{
                         layout: 'vertical',
                         color:  'gold',
                         shape:  'rect',
                         label:  'paypal'
                    },
                    createOrder: function(data, actions){
                        return actions.order.create({
                            purchase_units: [{
                            amount: {
                                value: booking_total
                            } 
                            }]
                        })
                    },
                    onApprove: function(data, actions){
                        return actions.order.capture().then(function(Detail){
                            //console.log(" the are the payment details ===========",Detail);
                            if (Detail.status == "COMPLETED"){
                                //redirect to the succcess page 
                                window.location.href = `/success/${booking_id}/?success=${success_id}&payer_id=${Detail.id}&status=${Detail.status}&booking_total=${booking_total}`;
                            }
                        })
                    }
                }).render("#paypal-button-container")
                </script>

             <!-- <script>
                var stripe = Stripe('{{stripe_publishable_key}}');
                var checkoutButton = document.getElementById("checkout-button");

                checkoutButton.addEventListener("click", function(){
                    var email = "{{booking.email}}";

                    checkoutButton.innerHTML = "Processing <i class='spinner-border spinner-border-sm text-info'></i>";
                    console.log("=====", email);
                    console.log(" stripe=====", stripe);
                
                    fetch("/api/create_checkout_session/{{booking.bookingid}}/",{
                        method:"POST",
                        body: JSON.stringify(
                            {email:email}
                        )
                    }).then(function(response){
                        console.log("response is ======",response);
                        return response.json;

                    }).then(function(session){
                        return stripe.redirerctToCheckout({sessionId:session.sessionId});

                    }).then(function(result){
                        if(result.error){
                            alert(result.error.message)
                        }
                    })
                    .catch(function(error){
                        console.log("error is ----", error);
                    })
                
                });  
            </script> -->
            

                
                
            </script>

            </script>
{% endblock %}