{% extends 'base/base.html' %}

{% load static %}

{% block title %}Home Page{% endblock %}

{% block content %}

<section class="couresel-section " style="height:50%; ">
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block w-100" src="{% static 'images/carousel1.jpg'%}" alt="Slide 1">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="{% static 'images/carousel3.jpg'%}" alt="Slide 2">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="{% static 'images/hotel1.jpg'%}" alt="Slide 3">
          </div>
        </div>
      </div>
</section>

<script>
    $(document).ready(function(){
      $('.carousel').carousel({
        interval: 4000 
      });
    });
  </script>


<!-- ################################# first section ####################### -->
<div class="container  p-3 mt-4 mb-3 bg-info">
    <div class="">
        <h2>Find your next stay....</h2>
        <p>We are here to offer the best to uor customers including the home seekers and the home provider.

        </p>
    </div>
          <div class="container  ">
            <div class="text-center bg-light p-4 g-3">
              <a href="{% url 'userauth:signup' %}"><span class="btn btn-primary "> SIGNUP </span></a>
              <a href="{% url 'userauth:login' %}"><span class="btn btn-primary "> LOGIN</span></a>
            </div>
          </div>
          <hr/>
</div>


<!-- ################################# hotel listing -->
<div class="container">
    <div class="btn btn-primary w-100 mb-3">

        <h3 >The best place for you</h3>
        <h4>Explore our pages and find the best accommodation around the world.</h4>
     
    </div>
    <div class="">


    <!-- #$$$$$$$$$$$$$$$$########## -->
    <div class="row g-3">
        {% for h in hotels%}
            <div class="col-sm-6 col-md-12 col-lg-4 ">
                <div class="card">
                    <a href="{% url 'hotel:hotel_details' h.slug %}" style="text-decoration: none;">
                        <img class="card-img-top" src="{{h.image.url}}" alt="Card image cap" with="200" height="150">
                            <div class="card-img-overlay text-white">
                                <h3 class="card-text" style="font-family: Arial, Helvetica, sans-serif; font-weight: 600;">{{h.name}}</h3>
                               
                             
                            </div>
                            <div class="card-boy justify-content-center p-3">
                                <h5 class="card-title mt-5"> <i class="fa fa-map-marker"></i>   {{h.address}}</h5>
                                <p class="card-text"><i class="fa fa-phone"></i> {{h.mobile}}</p>
                            </div>
                        </div>
                    </a>
                    </div>
        {% endfor %}
      </div>
</div>



<!-- ######################### cards  -->



{% endblock %}