{% extends "base/base.html" %}
{% load static %}
{%block title%}PaymentPage{% endblock%}
{% block content%}

        <div class="not_found_block container-fluid" >
            <div class="container my-5 " >
                <div class="row">
                    <div class="col-md-12">
                        <section class="center" id="not-found">
                            <p>Payment Received: <span class="glyphicon glyphicon-ok-sign"></span></p>  
                            <p class="mt-2 text-dark"><b>Checkout & Payment Successfull</b></p>
                            <div class="utf-error-description">
                                <span class="fadeInRight">We have sent your booking summery to : <b>{{booking.email}}</b>
                                    
                                    Your booking id is <b class="btn bg-success">{{booking.bookingid}}</b>
                                </span>
                                <p>
                                    You have made a booking for these rooms
                                    <div class="row my-4 p-4">
                                        {% for r in booking.room.all %}
                                            <div class="col-lg-6 col-sm-12 col-md-6 card-deck ">
                                                <div class="card bg-info text-center">
                                                    <div class="card-body">
                                                        <h5 class="card-title">RoomType :{{r.room_type.room_type}}</h5>
                                                        <h5 class="card-title">Room Number : {{r.room_number}}</h5>
                                                        <p class="card-text text-muted">This have:</p>
                                                        <p class="card-text">{{r.room_type.number_of_beds}} beds available</p>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </p>
                                <p>
                                    For a period of 
                                    <h6 class="card-subtitle mb-2 text-muted"> {{booking.total_days}} days </h6>
                                    <h6 class="card-subtitle mb-2 text-muted">Begining {{booking.check_in_date}}</h6>
                                </p>
                            </div>
                            <div class="row card ">
                                <a href="{% url 'user_dashboard:dashboard' %}" class="btn btn-secondary">Dashboard</a>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 col-lg-offset-3">
                                    <div style="color: grey; margin-bottom: 10px; margin-top: 50px;"></div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>

 {% endblock %}       