<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {%endblock%}</title>
    
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
           
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <style>
        body {
            background-color: #636866 /* Light gray background */
        }
        .side{
            margin-top: 60px;
        }
        .sidebar {
        height: auto;
        position: fixed;
        top: 0;
        left: 0;
        background-color: #05445E;
        z-index: 1;
        padding-top: 56px; /* Height of the navbar */
        overflow-x: hidden;
        transition: all 0.3s;
        }

        .main-content {
        margin-left: 250px; /* Width of the sidebar */
        padding-top: 56px; /* Height of the navbar */
        }
        @media (max-width: 768px) {
        .sidebar {
            padding-top: 15px; /* Adjust for smaller screens */
            width: 100%;
        }
        .main-content {
            margin-left: 0;
        }
        .count{
            display: none;
        }
    }
        /* Add your custom CSS styles here */
    </style>
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <a class="navbar-brand btn btn-primary" 
            href="#">
            eBooking
        </a>
        <button 
            class="navbar-toggler" 
            type="button" 
            data-toggle="collapse" 
            data-target="#navbarNav" 
            aria-controls="navbarNav" 
            aria-expanded="false" 
            aria-label="Toggle navigation"
            >
            <span class="navbar-toggler-icon"></span>
            
        </button>

        <div 
            class="collapse navbar-collapse" 
            id="navbarNav">

            <ul class="navbar-nav ml-auto">
                <!-- <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li> -->
            </ul>
            {% if request.user.is_authenticated %}
            <div class="navbar-text ">
                <span class="p-2"> Welcome <b>{{request.user|title}}</b></span> 
                <img src="{{profile.image.url}} " style="width: 30px;height: 30px; " class="rounded-circle" alt="Profile">
            </div>
            {% else %}
                <div class="navbar-text">
                    <a class="nav-link btn btn-info" href="{% url 'userauth:login' %}">Login</a>
                </div>
                <div class="navbar-text">
                    <a class="nav-link btn btn-info" href="{% url 'userauth:signup' %}">SignUp</a>
                </div>
            {% endif %}
            
        </div>
    </nav>

    <div class="container-fluid side">
        <div class="row bg-light p-2">

            <!-- Sidebar -->
            <nav class="col-md-2 d-none d-md-block  sidebar card">
                <div class="sidebar-sticky">
                    <div class="nav flex-column p-2 bg-secondary mt-2">
                        <span class="text-light text-center">Customer Page</span>
                        <div class="navbar-text mt-2">
                            <a class="nav-link btn btn-light" href="{% url 'user_dashboard:dashboard' %}">Dashboard</a>
                        </div>
                        <div class="navbar-text">
                            <a class="nav-link btn btn-light" href="{% url 'user_dashboard:profile' %}">Profile</a>
                        </div>
                        <div class="navbar-text">
                            <a class="nav-link btn btn-light " href="{% url 'user_dashboard:notifications' %}">Notifications</a>
                        </div>
                        <div class="navbar-text">
                            <a class="nav-link btn btn-light" href="{% url 'user_dashboard:home' %}">KitchenBar</a>
                        </div>
                        <div class="navbar-text">
                            <a class="nav-link btn btn-light" href="{% url 'user_dashboard:bookings' %}">MyBookings</a>
                        </div>
                        <div class="navbar-text">
                            <a class="nav-link btn btn-light" href="{% url 'user_dashboard:change_password' %}">Change Password</a>
                        </div>
                        <div class="navbar-text">
                            <a class="nav-link btn btn-light" href="{% url 'userauth:log out' %}">LogOut</a>
                        </div>
                    </div>
                    <div class="col mb-3"><h5>Customer Dashboard</h5></div>
                </div>
            </nav>

            <!-- Main content area -->
            <!-- <main role="main" class="col-md-9 ml-sm-auto col-lg-10 "> -->
            <main  class="col-md-9 ml-sm-auto col-lg-10">
                <!-- <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"> -->
                <div class="justify-content-between pt-3 pb-2 mb-3 flex-md-nowrap">
                    {% block content %}
                    {% endblock %}
                </div>
            </main>
        </div>
    </div>

                            <!-- The Modal -->
                        <div class="modal" id="myModal">
                            <div class="modal-dialog">
                            <div class="modal-content">
                        
                                <!-- Modal Header -->
                                <div class="modal-header">
                                <h4 class="modal-title">Confirm Order Submition</h4>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                </div>
                        
                                <!-- Modal body -->
                               
                                <!-- Modal footer -->
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">Go back</button>
                                    <button type="submit" class="btn btn-success" data-bs-dismiss="modal">Place Order!</button>
                                </div>
                        
                            </div>
                            </div>
                        </div>
                        

                    <!-- end modal -->


    <!-- Footer -->
    <footer class="footer mt-auto py-3 bg-secondary fixed-bottom">
        <div class="container text-center">
            <span class="text-light ">nyachomoelly@gmail.com</span>
        </div>
    </footer>

    <!-- Bootstrap JS and dependencies -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
 