{% extends 'base/base.html'%}

{% block content %}

        <div class="container-fluid bg-info">
            <p>this is the customer page where they are going to add the hotel and do the food ordering</p>
            <p>this is the customer page where they are going to add the hotel and do the food ordering</p>
            <p>this is the customer page where they are going to add the hotel and do the food ordering</p>
            <p>this is the customer page where they are going to add the hotel and do the food ordering</p>
            <p>this is the customer page where they are going to add the hotel and do the food ordering</p>
            <p>this is the customer page where they are going to add the hotel and do the food ordering</p>
        </div>

{% endblock %}