
                @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
                @import url('https://fonts.googleapis.com/css2?family=Crimson+Text&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

                :root{
                    --primary-color:#0f1a2c;
                    --secondary-color:pink;
                    --text-dark: #0f172a;
                    --text-light: rgb(89, 89, 101);
                    --extra-light: white;
                    --max-width: 1200px;
                    --white:#ffffff;
                    --header-font: "Playfair Display",serif;
                }
                body{
                    /* background-color:orange; */
                }
                .nav_header a{
                    text-decoration:none;
                }
              
                a{
                    text-decoration:none;
                }
                .nav_bar{
                    width: 100%;
                    display: flex;
                    padding: 9px;
                    justify-content: space-between;
                    height: 80px;
                    box-shadow: 0 2px 10px rgba(0, 1, 0, 0.4);
                }
                .nav_header{
                    height:60px;
                    padding: .5rem;
                    display: flex;
                    box-shadow: 0 2px 10px rgba(0, 1, 0, 0.4);
                }
                .logo{
                    display: flex;
                    align-items: center;
                    gap: 5px;
                    font-weight: 500;
                    color: var(--text-light);
                    letter-spacing: 2px;
                }
                .logo div{
                    padding-inline: .01px;
                    font-size: 1.5rem;
                }
                @media only screen and (max-width: 780px){
                    .nav1{
                        display:none;
                    }
                   
                }
                @media only screen and (max-width: 600px){
                    .nav1{
                        display:none;
                    }
                    .home{
                        display:none;
                    }
                }
                .navigation a{
                    font-weight: 300;
                   
                    position: relative;
                    font-size: 1.1em;
                    color: #040111;
                    text-decoration: none;
                    font-weight: 500;
                    margin-right: 10px;
                    margin-left: 10px;
                }
                .navigation a::after{
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 3px;
                    background: #d70707;
                    border-radius: 5px;
                    left: 0;
                    bottom: -6px;
                    transform: scaleX(0);
                    transform-origin: right;
                    transition: transform .5s;
                }
                .navigation a:hover::after{
                    transform-origin: left;
                    transform: scaleX(1);
                }
                header .btnlogin-popup{
                    width: 130px;
                    height: 50px;
                    background: transparent;
                    /* border: 2px solid #3b0f8e; */
                    outline: none;
                    /* border-radius: 6px; */
                    cursor: pointer;
                    font-size: 1.1em;
                    color: #0e0d0d;
                    font-weight: 500;
                    margin-left: 40px;  
                    transition: 1ms;
                }
                header .btnlogin-popup:hover{
                    background: #c9c9c9;
                    color: #01060a;
                }
                .carousel-nav{
                    height:450px;
                    object-fit: contain;
                }
                .carousel-item img {
                    width: 100%;
                    height: 100%;
                    object-fit:cover;
                  }
                  .container1{
                    font-style: var(header-font);
                    box-shadow: 0 0 0 1 rgba(0 0 0 0.4);
                     text-align: center; 
                     width: 100%; 
                     padding:3%;
                  }
                  #myForm label{
                    padding-top:10px;
                    padding-left: 10px;
                  }
                  .form-header{
                    margin-top:1px;
                    font-style:Sanserif;
                    text-align:center;

                  }
                  .row1{
                    box-shadow: 0 0 0 1 rgba(0 0 0 0.4);
                  }
                  /* .main{
                    padding:10px;
                    display: flex;
                    flex-wrap: wrap;
                    padding:.5rem;
                    overflow: hidden;
                    height: auto;
                    justify-content: space-around;
                } */
                .card a{
                    text-decoration: none;
                }
                
                .main .card{
                    display:inline-block; 
                    overflow: hidden;
                    width: 30px;
                    height:40px;
                    margin:1rem;
                    
                    overflow: hidden;
                    border-radius:1rem;
                    box-shadow: 0 0 10 rgba(1, 0, 0, 0.6);
                }
                .main .card:hover{
                    /* background-color:grey;  */
                     border-radius:.1rem; 
                    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
                }
                
                .image{
                    transform: scale(1.2);
                    
                    object-fit:cover;
                    display: flex;
                }
                
                .image img{
                    width:auto;
                    height: 200px;
                    object-fit: cover;
                } 
                .card-items{
                    
                    
                    height:100%;
                    padding:20px;
                    width: 500px;
                    color: #0f1a2c;
                   
                }
                .item2{
                    margin-top:20px;
                }
      
                
                .listing-item-content h3{
                    text-align: justity;
                }
                .utf-star-rating-section{
                    display: flex;
                    padding: 10px; 
                    justify-content: 
                    space-between;
                    width:60%; 
                    border-radius: .1rem;
                }
                
                @media only screen and (max-width: 1000px){
                    .main .card{
                        
                        
                    }
                }
                @media only screen and (max-width: 600px){
                    .main .card{
                        
                        
                    }
                }

                

                  
                .popular_grid{
                    background:red;
                    padding:.5rem;
                    overflow: hidden;
                    background-color: rgb(5, 222, 218); 
                    display: flex;
                    flex-wrap: wrap;
                    height: auto;
                    justify-content: space-around;
                    
                }
                .popular_card{
                    background-color:red;
                    width: 250px;
                    height:300px;
                    margin:1rem;
                    background:blue;
                   overflow: hidden;
                   border-radius:1rem;
                   box-shadow: 0 0 0 rgba(0,0,0,0.4);

                }
                .popular_card img{
                    height: 150px;
                    width:100%;
                }
                .popular_content{
                    padding:1rem;
                }
                .popula_card_hrader{
                    display:flex;
                    align-items:center;
                    justify-content: space-between;
                    {% comment %} gap: 1rem; {% endcomment %}
                    margin-bottom: 0.5rem;
                }
                .popula_card_hrader h4{
                    font-size:1.2rem;
                    font-weight: 600;
                    color: aqua;
                }
                .popular_content p{
                   color:grey; 
                } 
                  {% comment %} end {% endcomment %}
         