{% extends 'base/base.html'%}
{% block title %}
Manager | edit hotel
{% endblock %}

{% block content  %}

{% if hotel %}
<div class="container mt-5 p-5" style=" margin-top: 100px; background-color: aqua;">
    
    <h4 class="card p-4 text-center bg-light">Its time to make changes on hotels by the manager</h4>
</div>
{% for h in form  %}
  <div class="container col-lg-6 col-md-6 col-sm-12 bg-light  my-5">
      <h4>Edit Hotel | Add a new hotel</h4>
          <form method="post" enctype="multipart/form-data">
              {% csrf_token %}
              {{ h.as_p }}
              <button type="submit">Submit</button>
          </form>
  </div>
{% endfor %}
{% else %}
    
    <div class="container " style="margin-top: 200px;">
        <h3>Hey {{request.user.full_name}} </h3>
        <h4>You have not added any hotel Yet.....</h4>
        <a  href="{% url 'user_dashboard:add_hotel' %}" class="btn btn-primary">Contact the service providers</a>
    </div>

{% endif %}
    
    {% endblock %}


