{% extends 'base/bass.html'%}
{% block title %}
Dashboard | Kitchen Bar
{% endblock %}

{% block content  %}

    <div class="row justify-content-center bg-primary ">
        <div class="col-md-8 col-sm-12 offset-md-1 p-1 text-center">
            <h1>Welcome to our Food base</h1>
        </div>
    </div>

    <!-- <div class="row justify-content-center mt-1"> -->
        <!-- <div class=" p-3 text-center "> -->
            <h4 class="card bg-light">These are the food categories that we have</h4>
            <!-- start of appetizers cards -->
            <div class="container-fluid bg-info">
                <h6 class="text-center text-light pt-2">Appetizers</h6>
                <hr/>
                <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 g-3">
                    {% for item in appetizers %}
                    <div class="col mb-3"> 
                        <a href="{% url 'user_dashboard:order' %}">
                            <div class="card">
                                <img class="card-img-top" src="{{ item.image.url }}" alt="Card image cap" width="200" height="150">
                                <div class="card-body">
                                    <h5 class="card-title">{{ item.name }}</h5>
                                    <h5 class="card-title">{{ item.price }} $</h5>
                                </div>
                            </div>
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>
            
            
            <!-- end of appetizers -->
            <!-- start of drinks cards -->
            <div class="container-fluid bg-info my-3">
                <h6 class="text-center text-light pt-2">Drinks</h6><hr/>
                <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 g-3">
                    {% for d in drinks %}
                    <div class="col mb-3"> 
                        <a href="{% url 'user_dashboard:order' %}">
                            <div class="card " style=" width:14em;">
                                <img class="card-img-top" src="{{d.image.url}}" alt="Card image cap" with="200" height="150">
                                <div class="card-body ">
                                    <h5 class="card-title">{{d.name}}</h5>
                                    <h5 class="card-title">{{d.price}} $</h5>
                                    <!-- <a href="/customer/order" class="btn btn-outline-primary">Make Order!</a> -->
                                </div>
                            </div>
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <!-- end of drinks -->
            <!-- start of entre cards -->
            <div class="container-fluid bg-info my-3">
                <h6 class="text-center text-light pt-2">Entre</h6><hr/>
                <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 g-3">
                    {% for e in entre %}
                    <div class="col mb-3">
                        <a href="{% url 'user_dashboard:order' %}">
                            <div class="card " style=" width:14em;">
                                <img class="card-img-top" src="{{e.image.url}}" alt="Card image cap" with="200" height="150">
                                <div class="card-body ">
                                    <h5 class="card-title">{{e.name}}</h5>
                                    <h5 class="card-title">{{e.price}} $</h5>
                                    <!-- <a href="/customer/order" class="btn btn-outline-primary">Make Order!</a> -->
                                </div>
                            </div>
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>

            <!-- end of entre -->
            <!-- start of fruits cards -->
            <div class="container-fluid bg-info my-3">
                <h6 class="text-center text-light pt-2">Fruits</h6><hr/>
                <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 g-3">
                    {% for f in fruit %}
                        <div class="col mb-3">
                            <a href="{% url 'user_dashboard:order' %}">
                                <div class="card " style=" width:14em;">
                                    <img class="card-img-top" src="{{f.image.url}}" alt="Card image cap" with="200" height="150">
                                    <div class="card-body ">
                                        <h5 class="card-title">{{f.name}}</h5>
                                        <h5 class="card-title">{{f.price}} $</h5>
                                        <!-- <a href="/customer/order" class="btn btn-outline-primary">Make Order!</a> -->
                                    </div>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <!-- end of Fruits -->
            <div class="card mb-5 text-center p-3">

                <a href="{% url 'user_dashboard:order' %}">
                    <button class="btn btn-outline-primary">Make Order Now!</button>
                </a>
            </div>
        <!-- </div> -->
    <!-- </div> -->


{% endblock %}