{% extends 'base/bass.html'%}
{% block title %}
Password Reset
{% endblock %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="mt-4">
                <h4 class="bg-secondary">Change Password</h4>
                <div class="card bg-primary p-4">
                    <div class="card-body">
                        <form class="form-group" method="POST">
                            {% csrf_token %}
                            <div class="col-md-12">
                                {{form.as_p}}
                            </div>
                            <input type="submit" value="Submit" class="btn btn-secondary">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}